<h1>Records List:</h1>

<% for record in @records %>

	<li>

		<%= link_to (image_tag record.cover_art), record_path(record) %><br />

		<%= button_to "Delete Record", record, method: "delete", class: "delete-record" %>

		<%= link_to "Edit Record", edit_record_path(record), class: "edit-record" %><br />

		<span class="record-title">Title: <%= record.title %></span>

		Artist: <%= record.artist %><br />

		<hr>

	</li>

<% end %>