<h1>Record Information:</h1>

title: <%= @record.title %> <br />
artist: <%= @record.artist %> <br />
year: <%= @record.year %><br />
<%= link_to "Back", records_path %><br />

<!-- BAD THING -->
<!-- <img src="<%= @record.cover_art %>"> -->

<!-- IMAGE HELPER TAG -->
<%= image_tag @record.cover_art %>
